.searchBox {
    margin-bottom: 15px;
}

.brandTitle {
    margin-bottom: 15px;
}

.ant-card-head {
    padding: 0 14px;
}

.ant-card-body {
    padding: 10px;
}

.ant-card-body button {
    margin: 0 4px;
}

.buttonDisplay {
    display: none;
}
