.userMessage {
    padding: 15px;
}

.userMessage p {
    padding: 10px;
}

.userRecord {
    margin-bottom: 15px;
}

.recordTitle {
	display: inline-block;
	margin-right: 15px;
    font-size: 1.17em;
    font-weight: bold;
}
