.title{
	font-size: 17px;
	padding: 15px 0 30px 75px;
}

.formItemButton{
	text-align: center;
}
.ant-upload .ant-upload-select{
	width: 86px;
	height: 86px;
}
.providerUpload .ant-upload-list-item{
	width: 150px !important;
}
.providerUpload .ant-upload-select-picture-card{
	width: 150px !important;
}